<ng-template #divLoading> </ng-template>
<div *ngIf="tenis; else divLoading">
  <mat-card class="container-card" appearance="outlined">
    <mat-card-header >
      <mat-card-title-group class="card-header">
        <mat-card-title>Marca: {{ tenis.titulo }}</mat-card-title>
        <mat-card-subtitle>Modelo: Jordan</mat-card-subtitle>
        <img mat-card-xl-image src="/assets/img/{{ tenis.imagen }}" />
      </mat-card-title-group>
    </mat-card-header>

    <mat-card-content>
      <div class="precio">${{ tenis.precio | number }}</div>
      <div class="tallas">Tallas: {{ tenis.tallas }}</div>

      <mat-card-content class="descripcion textoLimitado">
        {{ descripcion }}
      </mat-card-content>
    </mat-card-content>

    <mat-card-actions class="botones">

      <!-- Botón agregar item -->
      <button
        (click)="addToCart()"
        class="shopping"
        mat-raised-button
        color="primary">
        <mat-icon class="green-icon">shopping_cart</mat-icon>
        AGREGAR.
      </button>
      <!-- Botón Like -->
      <button
        mat-flat-button
        [ngClass]="{
        'mat-raised-button': !esPantallaPequena,
        'mat-mini-fab': esPantallaPequena,
        'controles': true
        }"
        (click)="likeCounter()"
        color="warn"
      >
        <mat-icon>favorite</mat-icon>
        <span>LIKE</span>
        {{ like }}
      </button>

      <!-- Botón Ver Carrito -->
      <button
        mat-flat-button
        [ngClass]="{
        'mat-raised-button': !esPantallaPequena,
        'mat-mini-fab': esPantallaPequena,
        'controles': true
        }"
        (click)="openModal()"
        color="accent"
      >
        <mat-icon>shopping_cart</mat-icon>
        <span>Ver carrito</span>
      </button>

      <!-- Botón Regresar -->
      <button mat-flat-button (click)="goBack()" color="secondary">
        <mat-icon>arrow_back</mat-icon>
        Regresar
      </button>
    </mat-card-actions>
  </mat-card>
</div>
