<img class="fotoTenis" src="../../../assets/img/tenis_rafaga.jpeg" alt="Tenis rafaga">
<div class="container">
<h1>Sobre Tenis Ráfaga</h1>

<p class="parrafo">
En <strong>Tenis Ráfaga</strong>, creemos que caminar no debe ser solo una necesidad,
sino un placer.
Por eso, nos dedicamos a ofrecerte una selección de tenis que combinan
estilo, comodidad y rendimiento.
</p>
<p class="parrafo">
Nuestra misión es asegurarnos de que encuentres el par perfecto para
cada paso que des, ya sea en el día a día, en tus entrenamientos o en
ocasiones especiales.
Sabemos que cada cliente es único, y trabajamos para brindar una
experiencia de compra sencilla, rápida y personalizada.
</p>

<p class="parrafo">
En <strong>Tenis Ráfaga</strong>, más que vender tenis, queremos acompañarte en tu
camino hacia la comodidad y el bienestar, haciendo de cada paso una
experiencia extraordinaria.
</p>

<p class="parrafo">Tu recorrido empieza aquí. ¿Listo para caminar con nosotros?</p>
</div>

