.logo {
  width: 200px;
  object-fit: cover;
  display: inline-block;
}

.separador {
  flex: 1 1 auto;
}

.sideNavContainer {
  background-color: mat-color(accent);
}

.sideNav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 5px;
}

.content_wraper {
  position: relative;
}

mat-toolbar {
  align-items: center;
  background-color: var(mat-toolbar-container-background-color);
  display: flex;
}
.sticky-navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}
